.canva {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 250px;
  width: 625px;
  max-height: 280px;
  height: 220px;
  margin: 40px;
  margin-bottom: 0;
  border-inline: 1px solid #fff;
}

.carrusel {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.bola {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.bola {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

table .bola {
  border-radius: 50%;
  /* Para que quede bien debe ser menos pixeles */
  height: 50px;
  width: 50px;
  scale: 0.8;
  font-size: 1rem;
}

.tubo {
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  user-select: none;
}

.bola:hover {
  transform: scale(1.5);
}

td.selected {
  font-weight: bold;
  transform: scale(1.1);
}

.contenedor{
  display: grid;
  height: 80vh;
}

.numeros{
  overflow-x:auto;
  overflow-y: none;
  overflow: none;
}