  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Mixgyt/RetroSci-Fi_library/dist/css/sci-fi.css">
  <script src="https://cdn.jsdelivr.net/gh/Mixgyt/RetroSci-Fi_library/dist/js/retrosci-fi.js" defer></script>
  <link rel="stylesheet" href="/css/game.css">
  <link rel="stylesheet" href="/css/panel_espera.css">
  <link rel="stylesheet" href="/css/perfil.css">
  <title>Bingo</title>
</head>
<body>

  <nav class="navbar bg-secondary estilo-brillo border border-secondary hover-neon rounded-3 px-3 py-2 d-flex justify-content-between align-items-center position-sticky top-0 z-3">
  
    <!-- Marca y Logo -->
    <div class="d-flex align-items-center gap-3">
      <span class="navbar-brand fs-4 fw-bold text-white">Bingo</span>
    </div>
  
    <!-- Navegación -->
    <div class="d-flex gap-3 flex-wrap">
      <button class="nav-item rounded-pill px-3 btn btn-outline-danger py-1 text-white text-decoration-none" id="btn-cerrar-sala">Cerrar Sala</button>
    </div>
  </nav>
  
<!-- Pantalla de lobby -->
  <div id="waiting-room" class="esperando">
    <p>Esperando que jugadores se unan a la partida...</p>
    <p id="id-room" hidden><%= id_room%></p>
    <p class="fs-1">ID Partida:<b class="text-warning"> <%= id_room %></b></p>
    <p class="fs-3">Jugadores: <span id="n-jugadores" class="text-warning">0</span></p>
                <div id="btn-iniciar-sala" class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a class="btn-custom w-100 perfil">
                    <img src="/img/iniciar.png" alt="Iniciar">
                    <span>Iniciar</span>
                </a>
            </div>
            <div id="btn-eliminar-sala" class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a class="btn-custom w-100 cerrar">
                    <img src="/img/cerrar.png" alt="Cerrar">
                    <span>Cerrar</span>
                </a>
            </div>
  </div>

<!-- Pantalla de juego -->
<div id="game-controls" class="visually-hidden">
  <div class="interfaz container mx-auto grid border border-2 border-neon-complete border-info mt-3">
    <div class="container contenedor g-col-10 " >
      <!-- RULETAZO CON LOS NUMEROS-->
      <div class="canva mx-auto">
        <div class="carrusel" id="carrusel">
          <div class="bola bola-o ">¡</div>
          <div class="bola bola-g ">¡</div>
          <div class="bola bola-b ">B</div>
          <div class="bola bola-i ">I</div>
          <div class="bola bola-n ">N</div>
          <div class="bola bola-g ">G</div>
          <div class="bola bola-o ">O</div>
          <div class="bola bola-i">!</div>
          <div class="bola bola-b">!</div>
        </div>
      </div>
      <!-- TUBO -->
      <div class="tubo row">
          <div class="tubo-css"></div>
      </div>
      <!-- TABLA CON LOS NUMEROS -->
      <div class="container numeros">
        <table class="tabla-numeros border border-3 ">
          <tbody id="tableBall"> <!--EL navegador me agregar el tbody :)-->
            <tr class="">
              <td class="bg-primary-subtle">
                <div class="bola bola-b">B</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="">
              <td class="bg-success-subtle">
                <div class="bola bola-i">I</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="">
              <td class="bg-info-subtle">
                <div class="bola bola-n">N</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="">
              <td class="bg-warning-subtle">
                <div class="bola bola-g">G</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="">
              <td class="bg-danger-subtle">
                <div class="bola bola-o">O</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
   <div class="g-col-2">
      <div class="botones">
        <div class="bola-selec bola-i" id="bola-selec">Bola</div>
        <button class="btn btn-success btn-lg" id="btn-new-number">NUEVA BOLA</button>
  
      </div>
   </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script src="/js/room/host_connection.js" type="module">

</script>

  </script>
</div>
</body>
</html>